/* 计算公式：占用比 / 总块数  如：2/12 = 0.1666666666666667 12块div里，每个占2块面积，其面积等于 16.666666...% */
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f5f5f5;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


.form {
    width: 70%;
    margin: auto;
    padding: 10px 0px 20px;
}

    .form > .form-item {
        display: flex;
        /* height: 40px; */
        min-height: 40px;
        vertical-align: middle;
    }

    .form input {
        line-height: 28px;
        height: 28px;
        width: 60%;
        text-align: justify;
        margin: 7px auto 7px;
        border: 1px solid #bfbfbf;
    }

    .form span {
        text-align: right;
        line-height: 40px;
        width: 30%;
    }

    .form .btn-goup {
        width: 208px;
        margin: 15px 0 15px 40%;
        height: 50px;
        vertical-align: middle;
    }

    .form .submit-btn {
        padding: 8px 30px;
        text-align: center;
        margin: 0 5px;
        background-color: #69c0ff;
        border: none;
        border-radius: 5px;
        color: white;
        font-size: 14px;
        display: inline-flex;
        float: left;
        cursor: pointer;
    }


/* .xgs-col1:last-child,
.xgs-col2:last-child,
.xgs-col3:last-child,
.xgs-col4:last-child,
.xgs-col5:last-child,
.xgs-col6:last-child,
.xgs-col7:last-child,
.xgs-col8:last-child,
.xgs-col9:last-child,
.xgs-col10:last-child,
.xgs-col11:last-child,
.xgs-col12:last-child
{
	float: none;
} */
.container {
    /* min-height: 755px; */
    min-height: 800px;
    /*width: 900px;*/
    width: 1030px;
    margin: 0 auto 15px;
}

.navtab-body h3 {
    line-height: 42px;
}

.navtab-body h4 {
    line-height: 38px;
}

.navtab-body p {
    margin: 15px 0;
    font-size: 14px;
}

.navtab-body .content {
    padding: 30px 0;
    line-height: 24px;
    width: 80%;
    margin: auto;
    text-indent: 24px;
    text-align: justify;
}

.white-panel {
    background-color: white;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
}

.xgs-col1,
.xgs-col10,
.xgs-col11,
.xgs-col12,
.xgs-col2,
.xgs-col3,
.xgs-col4,
.xgs-col5,
.xgs-col6,
.xgs-col7,
.xgs-col8,
.xgs-col9 {
    float: left
}

.little-title {
    margin: 30px auto 0;
    width: 125px;
    text-align: center;
    line-height: 60px;
    color: #8c8c8c;
}

.xgs-row {
    clear: left;
    display: flex;
    width: 100%;
}

.xgs-col1 {
    width: 100%;
}

.xgs-col2 {
    width: 16.66666666666667%;
}

.xgs-col3 {
    width: 25%;
}

.xgs-col4 {
    width: 33.33333333333333%;
}

.xgs-col5 {
    width: 41.66666666666667%;
}

.xgs-col6 {
    width: 50%;
}

.xgs-col8 {
    width: 66.66666666666667%;
}

.xgs-col9 {
    width: 75%;
}

.xgs-col10 {
    width: 83.33333333333333%;
}

.xgs-col11 {
    width: 91.66666666666667%;
}

.xgs-col12 {
    width: 100%;
}


/* 偏移块 */

.xgs-offset-12 {
    margin-left: 100%
}

.xgs-offset11 {
    margin-left: 91.66666667%
}

.xgs-offset10 {
    margin-left: 83.33333333%
}

.xgs-offset9 {
    margin-left: 75%
}

.xgs-offset8 {
    margin-left: 66.66666667%
}

.xgs-offset7 {
    margin-left: 58.33333333%
}

.xgs-offset6 {
    margin-left: 50%
}

.xgs-offset5 {
    margin-left: 41.66666667%
}

.xgs-offset4 {
    margin-left: 33.33333333%
}

.xgs-offset3 {
    margin-left: 25%
}

.xgs-offset2 {
    margin-left: 16.66666667%
}

.xgs-offset1 {
    margin-left: 8.33333333%
}

.xgs-offset0 {
    margin-left: 0
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}


.hidden {
    display: none;
}

.show {
    display: block;
}

.navtab {
    width: 80%;
    height: 300px;
    border: 1px solid #bfbfbf;
}

    .navtab li {
        border-bottom: 1px solid #bfbfbf;
    }

        .navtab li a {
            color: #595959;
            display: block;
            line-height: 38px;
            text-align: center;
            width: 100%;
        }

.navtab-body {
    color: #595959;
}


.footer ul {
    padding-top: 30px;
    padding-left: 19%;
    list-style-type: none;
    margin: auto;
    line-height: 50px;
    width: 62%;
    display: block;
}

    .footer ul li {
        color: white;
        padding: 10px 10px;
        float: left;
    }

.footer a {
    color: white;
}

.foot-body {
    min-width: 1160px;
}

.footer .contact-list li {
    clear: left;
}
