
    <div class="container">
        <!-- InstanceBeginEditable name="MainBody" -->


        <style type="text/css">
        </style>

        <div class="xgs-row">

            <div class="xgs-col3" style="height: 30s0px;color: #595959;">
                <ul class="navtab">
                    <li>
                        <a style="background-color: #69c0ff;color: white;" href="javascript:void(0);"
                           onclick="jumpTab('introduct',this)">商城介绍</a>
                    </li>
                    <li><a href="javascript:void(0);" onclick="jumpTab('anser',this)">常见问题</a></li>
                    <li><a href="javascript:void(0);" onclick="jumpTab('contact',this)">联系作者</a></li>
                </ul>
            </div>

            <div class="xgs-col8 navtab-body white-panel">
                <!-- 商城介绍 -->
                <div class="introduct content" id="introduct">

                    <h3>商城简介</h3>
                    <h4>云梦商城</h4>
                    <div id="">
                        <p>
                            云梦商城（www.baobai.com）是一家以互联网交易为主的网上购物商城，主营全部商
                            品均来自于官方合作企业提供。
                        </p>
                        <p>
                            云梦商城作为购物商城，经营食品饮料、粮油副食、美容洗护、居家清洁、
                            家居百货、母婴玩具、家用电器、文体百货八个品类的商品。并提供方便快捷的同城配送服务，
                            覆盖保定市区主城区二环以内。专业的物流团队，通过卓越配送服务，为您愉悦购物提供充分
                            保障。
                        </p>
                        <p>
                            云梦商城作为梧州市首家百货商超网购商城，将为梧州市民私人订制一个二十四小时不打
                            烊、吃喝玩乐一站购、以“实时体验 快速送达 贴心服务”为特色的B2C电商生活平台，我们
                            将真诚为您服务，为您提供贴心便捷的购物体验，我们口号是“购物零风险 满意百分百”，您
                            的满意是我们永恒的追求。
                        </p>
                        <p> 云梦商城，祝您购物愉快！</p>
                    </div>
                </div>
                <!-- /商城介绍 -->
                <!-- 联系作者 -->
                <div class="contact content" id="contact" style="display: none;">
                    <p>云梦网上购物商城</p>
                    <p>云梦科技有限公司</p>
                    <p>联系人： 梦尘</p>
                    <p>联系电话：17897759554</p>
                    <p>项目gitee地址：https://gitee.com/xgs87762/mcstore</p>
                    <p>邮箱地址：1919399938@qq.com</p>
                    <p>公司地址：广西梧州市万秀区</p>
                </div>
                <!-- /联系作者 -->
                <!-- 问答专区 -->
                <div class="anser content" id="anser" style="display: none;">

                    <ul>
                        <li>
                            <h3>交易问题</h3>
                        </li>
                        <li>
                            <h5>问：为什么购物篮不能选中部分下单？</h5>
                            <p>
                                答：目前购物车的商品不可以多选支付哦，后期会新增该功能！
                            </p>
                        </li>
                        <li>
                            <h5>问：支付失败，但是金额未退回怎么办？</h5>
                            <p>
                                答：亲，可以联系我们的后台客服进行处理哦！
                            </p>
                        </li>

                        <li>
                            <h5>问：商城目前可以充值吗？</h5>
                            <p>
                                答：目前商城尚未上线钱包功能，只能用微信或支付宝支付哦！
                            </p>
                        </li>

                        <li>
                            <h3>商城问题</h3>
                        </li>
                        <li>
                            <h5>问：为什么购物篮不能选中部分下单？</h5>
                            <p>
                                答：目前购物车的商品不可以多选支付哦，后期会新增该功能！
                            </p>
                        </li>
                        <li>
                            <h5>问：为什么商城的商品这么少？</h5>
                            <p>
                                答：亲，买东西不是看你要什么，而是看我们有什么哦！
                            </p>
                        </li>
                        <li>
                            <h5>问：为什么购物篮不能选中部分下单？</h5>
                            <p>
                                答：目前购物车的商品不可以多选支付哦，后期会新增该功能！
                            </p>
                        </li>
                    </ul>


                </div>
                <!-- 问答专区 -->


            </div>
        </div>


        <!-- InstanceEndEditable -->
    </div>